@require '_styl/_fonts.styl'
@require '_styl/_globals.styl'
@require '_styl/*'

body
  font-family: amble-regular, Helvetica, Arial, sans-serif
  background-color base-color

#app
  product-selector()

footer()
