@require '_styl/_fonts.styl'
@require '_styl/_globals.styl'
@require '_styl/*'

body
  min-width: 502px
  font-family: amble-regular, Helvetica, Arial, sans-serif
  background-color base-color

menu()

#main_content
  margin-top: 40px

#app
  product-selector()

footer()
