// Product Selector
@require _globals

product-selector()
  selector-max-width = 340px
  dark-gray = #282828

  .selector
    margin-top: 0.3em
    font-family: amble-regular
    max-width: selector-max-width + 4px
    &__input
      max-width: selector-max-width
      color: dark-gray
      font-size: 12px
      &--visible
        display: inline-block
      &--hidden
        display: none

    &__label
      &--visible
        display: inline-block
        font-family: amble-regular
        color: whitesmoke
        font-size: 12px;
        border: 1px solid #b8b8b8
        border-radius: 4px
        background-color: #C05F18
        cursor: pointer
      &--hidden
        display: none

    &__dropdown
      max-width: selector-max-width
      list-style: none
      color: black
      border: 1px solid #c4c4c4
      margin-top: 0
      margin-left: 0
      padding-left: 0
      > li
        max-width: selector-max-width - 2px
        text-overflow: ellipsis
        padding: 1px 4px
      .dropdown__tally
        font-size: 12px
        color: ghostwhite
        background-color: dark-gray
      .dropdown__li
        font-size: 12px
        margin-left: 1px
        background-color: mintcream
        &--selected
          color: white
          background-color: #00a7f3
